.clearIcon{
    position: absolute;
    color: red;
}

.searchplace {
    height: 70px;
    position: relative;
    width: 98%;
    padding: 10px 0;
    margin: auto auto;
    display: flex;
    gap: 5px;

    .bar{
        flex: 1 0 87%;
        position: relative;
        .search {
            width: 100%;
            height: 100%;
            padding: 12px;
            outline: none;
            // border: 1px solid black;
            border: none;
            border-radius: 5px;
            background-color: rgb(228, 237, 237);
            font-size: 1rem;
            transition: 0.3s;
            position: relative;
            &:focus {
                transition: ease-in-out 0.3s;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(231, 231, 231);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    button{
        flex: 13%;
        cursor: pointer;
        width: 10%;
        background-color: #fcdab1;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .list {
        list-style: none;
        transition: 0.3s;
        position: absolute;
        width: 100%;
        z-index: 10000;
        top: calc(100% - 10px);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

        li {
            cursor: pointer;
            border: 1px solid #ddd;
            margin-top: -1px;
            /* Prevent double borders */
            background-color: white;
            padding: 12px;
            text-decoration: none;
            font-size: 1rem;
            color: black;

            &:hover{
                background-color: rgb(228, 237, 237);
                transition: 0.3s;
            }
        }
    }
}