.gridcol{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.container{
    width: 100vw;
    /* background-color: antiquewhite; */
}
/* .navbar{
    width: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1000000;
    bottom: 0;
    transform: translateX(50%);
} */
/* @media (max-width:900px) {
    .gridcol{
        display: flex;
        flex-direction: column;
    }
    .mapContainer{
        order: 1;
        width: 100%;
        border: 5px solid rgb(192, 202, 202);
    }
    .listcont{
        order: 2;
    }   
} */